.CodeMirror { font-family: Consolas, 'Courier New', Courier, Monaco, monospace; }
.cm-s-default .cm-keyword { color: #ce3f5c; }
.cm-s-default .cm-number { color: #856fff; }
.cm-s-default .cm-property { color: #4da4e3; }
.cm-s-default .cm-operator {color: #f66; }
.cm-s-default .cm-def { color: #ff9313; }
.cm-s-default .cm-variable-2 { color: #ff9313; }
.cm-s-default .cm-comment { color: #063; }
.cm-s-default .cm-string { color: #be5404; }
.cm-s-default .cm-string-2 { color: #280; }
/* Prevent an image due to render on Safari */
.CodeMirror-scroll pre {
	-webkit-user-drag: element;
}
