@charset "UTF-8";

/* 使用するフォントや、文字の大きさなどを定義しています。 */

/* フォント */
body {
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

/* 文字の色 */
.nav .btn-link {
	color: rgb(  0,  0,  0);
}

.h4p_box-header {
	color: rgb( 48,128,240);
}

.h4p_landing-header {
	/*color: rgb( 48,128,240);*/
	color: rgb(255,255,255);
}

.h4p_landing-main * {
	color: rgb(255,255,255);
}

.h4p_item-title * {
	color: rgb(  0,  0,  0);
}

.h4p_item-footer,
.h4p_item-footer p {
	color: rgb(200,200,200);
	font-size: 95%;
}

.h4p_publish button.btn {
	color: rgb(255,255,255);
	font-size: 180%;
}

.h4p_publish p{
	font-size: 60%;
}

/* リンクのデコレーション */
.h4p_item-footer a {
	color: rgb(200,200,200);
	/*text-decoration: none;*/
}

