@charset "utf-8";

/* 要素の大きさや、間隔の広さなどを定義しています。 */

/* 全体の幅など、デバイスによって変化するサイズ */
@media (min-width: 768px) {
	.container {
		/* 全体の幅 */
		width: 630px;
	}
	.h4p_item {
		/* ステージ一覧のアイテムの高さ */
		height: 324px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 810px;
	}
	.h4p_item {
		height: 303px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 810px;
	}
	.h4p_item {
		height: 303px;
	}
}

/* 全てのデバイスに共通したサイズ */
/* 幅・高さ属性 */
.h4p_header {
	height: 60px;
}

.h4p_header-logo {
	height: 50px;
}

.h4p_item .h4p_item-thumbnail{
	width: 100%;
}

.h4p_item-vote {
	line-height: 30px;
}

.h4p_item-reason input {
	height: 30px;
}

.h4p_clear-img {
	width: 70%;
}

.h4p_item-challenged img {
	width: 60%;
}

.h4p_mapTip img {
	width: 100%;
}

/* 間隔属性 */

header.navbar {
	margin-bottom: 15px;
}

.h4p_header-logo {
	padding-right: 10px;
}

.h4p_box {
	margin-top: 15px;
	margin-bottom: 20px;
}

.h4p_box-header {
	padding-top: 20px;
	padding-left: 15px;
}

.h4p_box-footer {
	padding-top: 17px;
	padding-bottom: 17px;
	padding-right: 15px;
}

.h4p_info,
.h4p_restaging {
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 20px;
}

.h4p_clear-img {
	margin-top: 120px;
	margin-bottom: 120px;
}

.h4p_item,
.h4p_topicitem {
	padding-top: 15px;
	padding-bottom: 15px;
}

.h4p_item-challenged img {
	margin-top: 18%;
}

.h4p_info-retry,
.h4p_info-restaging {
	padding-top: 10px;
}

.h4p_restaging {
	height: 470px;
}

.h4p_restaging_editor {
	height: 400px;
	margin: 0;
}

.h4p_restaging_editor textarea {
	width: 100%;
	height: 100%;
}

.h4p_restaging_button {
	height: 45px;
	margin: 0;
}

.h4p_publish {
	padding-left: 1px;
	padding-right: 1px;
}

.h4p_restaging_button button,
.h4p_publish button{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.h4p_publish-text {
	height: 27px;
}

.h4p_mapTip {
	margin-top: 10px;
	padding: 0;
}

input[name="challenge"] {
	margin-top: 8px;
}

footer {
	padding-top: 40px;
	padding-bottom: 25px;
}

