// out: ../css/app.css, sourcemap: true, compress: true
@import "./unit.less";

@bgcolor-panel: rgb(255,255,255);
@size-bar: @40px;
@color-selected: rgb(51, 122, 183);

html {
    font-size: 14px;
}

.flex-container {
  display: flex;
  width: 100%;
}
.flex-container.flex-container-bar {
  flex-flow: row wrap;
  justify-content: space-around;
  padding: @10px 0;
  margin: 0 0 @10px 0;
  .border-radius();
  text-align: center;
  background-color: @bgcolor-panel;
  border: @2px solid transparent;
  &:not(.opened):hover { border-color: @color-selected; }
  &:not(.opened) { cursor: pointer; }
  .row {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 100%;
    padding: @size-bar/2 @size-bar/2 0 @size-bar/2;
    max-height: @600px;
  }
  .column { flex: 0 1 auto; padding: 0 @size-bar/2; }
  .blank { flex: 1 1 auto; }
  .icon { flex: 0 0 @size-bar; }
  .thumbnail { flex: 0 0 auto; width: @300px; height: @200px; margin: 0; }
  .code { flex: 0 0 auto; max-width: @600px; text-align: left; }
  &:not(.opened) .inner { .hidden(); }
}

.border-radius(@radius:@5px) {
  border-radius: @radius;
}

.visible() {
}
.hidden() {
  display: none;
}
