// main: ./main.less
@unit-em-size: 14;
@1px: unit(1/@unit-em-size, em);
@2px: unit(2/@unit-em-size, em);
@3px: unit(3/@unit-em-size, em);
@4px: unit(4/@unit-em-size, em);
@5px: unit(5/@unit-em-size, em);
@10px: unit(10/@unit-em-size, em);
@20px: unit(20/@unit-em-size, em);
@30px: unit(30/@unit-em-size, em);
@40px: unit(40/@unit-em-size, em);
@100px: unit(100/@unit-em-size, em);
@200px: unit(200/@unit-em-size, em);
@300px: unit(300/@unit-em-size, em);
@400px: unit(400/@unit-em-size, em);
@500px: unit(500/@unit-em-size, em);
@600px: unit(600/@unit-em-size, em);
