.DS_Store
.htaccess
node_modules

c/
codemirror/
challenge-challenged.png
checkergame.js

s/thumbs/*.png
s/typewriter/
s/demo1/
s/demo2/
s/stage1/
s/stage2/
s/stage3/
s/stage4/
s/stage_tw/
s/stage5/
s/zroom/
s/rpg1/
s/rpg2/
s/rpg3/
s/rpg4/
s/rpg5/
s/shoot1/
s/shoot2/
s/shoot3/
s/shoot4/
s/shoot5/
difftest

cache/imagedata/*.png