<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <!-- module load API
        /modules/(bundle)[/version]/(module)[.extension]
        -->
        <rule name="test">
          <match url=".*" />
          <action type="Rewrite" url="https://{HTTP_HOST}/modules/index.php" />
        </rule>
        <!-- <rule name="/modules API 1">
          <match url="^([a-z0-9\-\~\.]+)/([0-9\.]+)/([a-z0-9\-\~\.]+)\.(js)$" />
          <action type="Rewrite" url="/modules/index.php?bundle={R:1}&version={R:2}&module={R:3}&extension={R:4}" />
        </rule>
        <rule name="/modules API 2">
          <match url="^([a-z0-9\-\~\.]+)/([0-9\.]+)/([a-z0-9\-\~\.]+)$" />
          <action type="Rewrite" url="/modules/index.php?bundle={R:1}&version={R:2}&module={R:3}" />
        </rule>
        <rule name="/modules API 3">
          <match url="^([a-z0-9\-\~\.]+)/([a-z0-9\-\~\.]+)\.(js)$" />
          <action type="Rewrite" url="/modules/index.php?bundle={R:1}&module={R:2}&extension={R:3}" />
        </rule>
        <rule name="/modules API 4">
          <match url="^([a-z0-9\-\~\.]+)/([a-z0-9\-\~\.]+)$" />
          <action type="Rewrite" url="/modules/index.php?bundle={R:1}&module={R:2}" />
        </rule> -->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
