// Settings
$enable-flex: true;

@import "node_modules/bootstrap/scss/bootstrap";

// Additional buttons
.btn-gray-dark-outline {
  @include button-outline-variant($gray-dark);
}
.btn-gray-lightest-outline {
  @include button-outline-variant($gray-lightest);
  @include hover {
    color: $gray-dark;
  }
}

// Additional utilis
@include text-emphasis-variant('.text-gray-dark', $gray-dark);
@include text-emphasis-variant('.text-gray-lightest', $gray-lightest);

// Responsive embed
.embed-responsive-3by2 {
  padding-bottom: percentage(2 / 3);
}

// Flex box grid

// Variables
$flex-axis-diretion: (
  vertical: column,
  horizontal: row
);

// Justify row
@each $axis, $direction in $flex-axis-diretion {
  .row-#{$axis}-justify {
    flex-flow: $direction nowrap;
    justify-content: space-around;
  }
}
